

<br>

<br>


<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Album Title</label>
          <input type="text" class="form-control" name="album_title" formControlName="album_title" #album_title>
        </div>
        
        
        <div class="form-group">
          <button (click)="addAlbum(album_title.value)" class="btn btn-primary">Add Album</button>
        </div>
      </form>
    </div>
  </div>


<br>

<br>

<table style="width: 100%;">
  <thead>
    <tr>
    <th>
      Album Title
    </th>
    <th>
      Controls
    </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let album of albums">
      <td>
          {{ album.album_title }}
      </td>
      <td>
          <a [routerLink]="['/edit', album._id]" class="btn btn-primary">Edit</a>
          <a (click)="deleteAlbum(album._id)" class="btn btn-danger">Delete</a>
      </td>
    </tr>
  </tbody>
</table>



<div class="container">
  <router-outlet></router-outlet>
</div>